name: Deploy Databricks Bundle to PROD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
      DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install new Databricks CLI (bundle-supported)
        run: |
          python -m pip install --upgrade pip
          python -m pip install databricks-sdk
          echo "$(python -m site --user-base)/bin" >> $GITHUB_PATH
          echo "/usr/local/bin" >> $GITHUB_PATH

      - name: Check CLI version
        run: |
          databricks version

      - name: Validate & Deploy Bundle to PROD
        run: |
          databricks bundle validate
          databricks bundle deploy --target prod
